.container {
  margin: 0 10px;
}

button {
  background-color: cadetblue;
  border: none;
  color: white;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background:lightgrey
}

p, span {
  font-size: 20px;
}
