<nav #nav class="nav" >
  <h3 #h3 class="title">Angular App</h3>
  <ul #ul>
    <li routerLink="/01" routerLinkActive="active" class="bold">To Do list</li>
    <li routerLink="/02" routerLinkActive="active" class="bold">Best Quotes</li>

    <li routerLink="/10" routerLinkActive="active">Interpolacja</li>
    <li routerLink="/11" routerLinkActive="active">Question mark</li>
    <li routerLink="/12" routerLinkActive="active">Pipes</li>
    <li routerLink="/13" routerLinkActive="active">Dyrektywa *ngFor</li>
    <li routerLink="/14" routerLinkActive="active">Data binding</li>
    <li routerLink="/15" routerLinkActive="active">Event binding</li>
    <li routerLink="/16" routerLinkActive="active">Property binding</li>
    <li routerLink="/17" routerLinkActive="active">Two-way binding</li>
    <li routerLink="/18" routerLinkActive="active">Template reference</li>
    <li routerLink="/19" routerLinkActive="active">Dyrektywa *ngIf</li>

  </ul>
</nav>

<main class="main">
  <router-outlet></router-outlet>
</main>




