<div class="container">
  <nav class="row blue">
    <div class="nav-wrapper">
      <span class="brand-logo center">Lista zadań</span>
    </div>
  </nav>

  <div class="row">
    <button class="btn col s5">Dodaj zadanie</button>
    <button class="btn col s5 offset-s2">Zakończ</button>
  </div>

  <div class="row">
    <input class="col s9" type="text" placeholder="Dodaj zadanie i datę wykonania"/>
    <input class="col s2 disabled" type="date" />
    <button class="btn-floating">+</button>
  </div>

  <ul class="collection">
    <li class="collection-item row">
      <span class="col s9">Synchronizacja Stackblitz z GitHub</span>
      <div class="col s3 right-align">
        <button class="btn-floating btn-small red">
          <i class="material-icons">remove</i>
        </button>
        <button class="btn-floating btn-small green ml-5">
          <i class="material-icons">check</i>
        </button>
      </div>
    </li>
    <li class="collection-item row">
      <span class="col done">Sprzątanie pokoju</span>
    </li>
  </ul>

  <h4>Dzisiaj brak zadań :-)</h4>

  <button class="btn">Wyczyść</button>

  <footer class="page-footer mt-5 light-blue">
    <div class="footer-copyright blue">
      <div class="container center">
        2022 © Lista zadań - All rights reserved.
      </div>
    </div>
  </footer>
</div>
