* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;;
}

.nav {
  width: 240px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  background-color: black;
  color: white;

  .title {
    margin-bottom: 20px;
    color: red;
  }
  .bold {
    font-weight: 700;
    margin-bottom: 20px;
  }
  .disabled {
    color: #444;
  }
}

.main {
  margin-left: 240px;
  padding: 0 10px;
}

li {
  list-style-type: none;
  margin-bottom: 5px;
  cursor: pointer;
  &:hover {
    color: gray;
  }
  &.active {
    color: red;
  }
}
