<nav #nav class="nav" >
  <h3 #h3 class="title">Angular App</h3>
  <ul #ul>
    <li routerLink="/00" routerLinkActive="active" class="bold">To Do list</li>
    <li class="disabled">01. Intro</li>
    <li class="disabled">02. Angular CLI</li>
    <li class="disabled">03. Struktura</li>
    <li class="disabled">04. Architektura</li>
    <li class="disabled">05. Praca z projektami</li>
    <li class="disabled">06. Starter Listy zadań</li>
    <li routerLink="/07" routerLinkActive="active">07. Interpolacja</li>
    <li routerLink="/08" routerLinkActive="active">08. Pipes</li>
    <li routerLink="/09" routerLinkActive="active">09. Question mark</li>
    <li routerLink="/10" routerLinkActive="active">10. Dyrektywa *ngFor</li>
    <li routerLink="/11" routerLinkActive="active">11. Data binding</li>
    <li routerLink="/12" routerLinkActive="active">12. Event binding</li>

  </ul>
</nav>

<main class="main">
  <router-outlet></router-outlet>
</main>




