<h1>{{ title }}</h1>

<p>{{ getInfo() }}</p>

<p>{{ info }}</p>

<p>Wyrażenie: {{ (2 + 2 - 1) * 4 }}</p>

<p>Wyrażenie z metodą: {{ (50 + 50) / getNumber() }}</p>

<p>Typ boolean: {{ happy }}</p>

<p>
  Ternary operator: <br />
  {{ happy ? 'I am happy' : 'I am not happy' }}
</p>

<p>Interpolacja name z obiektu 'dog':</p>
<p>{{ dog.name }}</p>
<p>Interpolacja 'name' i 'age' z obiektu zwracanego z metody 'getPerson()':</p>
<p>{{ getPerson().name }} {{ getPerson().age }}</p>

<hr />

<h1>Nieprawidłowa interpolacja</h1>

<p>Interpolacja na obiekcie 'dog'</p>
<p>{{ dog }}</p>

<p>Interpolacja na obiekcie z metody 'getPerson()':</p>
<p>{{ getPerson() }}</p>

<p>Wymuszenie 'toString()' na metodzie:</p>
<p>{{ getPerson }}</p>

<hr>

<h1>Ćwiczenia z interpolacji</h1>

<h2>1. Wypisz kolejno pola z klasy: 'title', 'num1', 'num2', 'falsity'</h2>
<p>To naprawdę fajne {{title2}}</p>
<p>A imię jego {{num1}} i {{num2}}</p>
<p>True jest przeciwieństwem {{falsity}}</p>
<br>

<h2>2. Wypisz pola z obiektu 'dog'</h2>
<p>Mój pies ma na imie: {{dog2.name}}</p>
<p>Ma lat: {{dog2.age}}</p>
<p>Jest koloru: {{dog2.color}}</p>
<br>

<h2>3. Wypisz kolejno quotation1 i quotation2: </h2>
<p>Cytat 1: {{quotation1()}}</p>
<p>Cytat 2: {{quotation2}}</p>
<br>

<h2>4. Stwórz wyrażenia: </h2>
<p>Dodaj dwie cyfry, odejmij i pomnóż.</p>
<p>Wyrażenie: {{(2 + 2 - 3) * 5}}</p>
<p>Podziel zmienną 'num1' przez metodę 'divider': {{num1 / divider()}}</p>
<p>Wynik: {{num1 / divider()}}</p>
